<a href="https://colab.research.google.com/github/vrhughes/DS4002-Project2/blob/main/SCRIPTS/TWFE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing
import pandas as pd
import numpy as np
import re

In [2]:
# Cloning the repo
! git clone https://github.com/vrhughes/DS4002-Project2

Cloning into 'DS4002-Project2'...
remote: Enumerating objects: 108, done.
remote: Counting objects: 100% (108/108), done.
remote: Compressing objects: 100% (103/103), done.
remote: Total 108 (delta 38), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (108/108), 635.12 KiB | 3.40 MiB/s, done.
Resolving deltas: 100% (38/38), done.

In [4]:
# Reading in data
#fr_analysis = pd.read_csv('/content/DS4002-Project2/OUTPUTS/fr_analysis_df.csv')
interp = pd.read_csv('/content/DS4002-Project2/OUTPUTS/interpolated_education_dataset.csv')
UN = pd.read_csv('/content/DS4002-Project2/DATA/fertility-rate-with-projections.csv')

In [5]:
# Getting dummies
df_encoded = pd.get_dummies(interp, columns=['Country', 'Year'])

In [9]:
df_encoded.head()
print(df_encoded.columns)

Index(['Fertility_Rate', 'GDP_Per_Capita', 'Homicide_Rate',
       'Avg_Yrs_Education', 'Infant_Mortality', 'Life_Expectancy',
       'Country_Bangladesh', 'Country_Chile', 'Country_Ethiopia',
       'Country_Iran', 'Country_Latvia', 'Country_Namibia', 'Country_Nauru',
       'Country_New Zealand', 'Country_Nicaragua', 'Country_Niger',
       'Country_Norway', 'Country_Panama', 'Country_South Korea',
       'Country_United States', 'Country_Venezuela', 'Country_World',
       'Year_1980', 'Year_1981', 'Year_1982', 'Year_1983', 'Year_1984',
       'Year_1985', 'Year_1986', 'Year_1987', 'Year_1988', 'Year_1989',
       'Year_1990', 'Year_1991', 'Year_1992', 'Year_1993', 'Year_1994',
       'Year_1995', 'Year_1996', 'Year_1997', 'Year_1998', 'Year_1999',
       'Year_2000', 'Year_2001', 'Year_2002', 'Year_2003', 'Year_2004',
       'Year_2005', 'Year_2006', 'Year_2007', 'Year_2008', 'Year_2009',
       'Year_2010', 'Year_2011', 'Year_2012', 'Year_2013', 'Year_2014',
       'Year_2015', 'Year_2016', 'Year_2017', 'Year_2018', 'Year_2019',
       'Year_2020', 'Year_2021', 'Year_2022', 'Year_2023'],
      dtype='object')

wow that's a lot of columns!

In [15]:
pip install linearmodels

Collecting linearmodels
  Downloading linearmodels-6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.9 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (2.0.2)
Requirement already satisfied: pandas>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (2.2.2)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (1.14.1)
Requirement already satisfied: statsmodels>=0.13.0 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (0.14.4)
Collecting mypy-extensions>=0.4 (from linearmodels)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: Cython>=3.0.10 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (3.0.12)
Collecting pyhdfe>=0.1 (from linearmodels)
  Downloading pyhdfe-0.2.0-py3-none-any.whl.metadata (4.0 kB)
Collecting formulaic>=1.0.0 (from linearmodels)
  Downloading formulaic-1.1.1-py3-none-any.whl.metadata (6.9 kB)
Collecting setuptools-scm<9.0.0,>=8.0.0 (from setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels)
  Downloading setuptools_scm-8.2.0-py3-none-any.whl.metadata (6.8 kB)
Collecting interface-meta>=1.2.0 (from formulaic>=1.0.0->linearmodels)
  Downloading interface_meta-1.3.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.11/dist-packages (from formulaic>=1.0.0->linearmodels) (4.12.2)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.11/dist-packages (from formulaic>=1.0.0->linearmodels) (1.17.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->linearmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->linearmodels) (2025.1)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.11/dist-packages (from setuptools-scm<9.0.0,>=8.0.0->setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (24.2)
Requirement already satisfied: setuptools>=61 in /usr/local/lib/python3.11/dist-packages (from setuptools-scm<9.0.0,>=8.0.0->setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (75.1.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.13.0->linearmodels) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->linearmodels) (1.17.0)
Downloading linearmodels-6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 18.8 MB/s eta 0:00:00
Downloading formulaic-1.1.1-py3-none-any.whl (115 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.7/115.7 kB 9.8 MB/s eta 0:00:00
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Downloading pyhdfe-0.2.0-py3-none-any.whl (19 kB)
Downloading setuptools_scm-8.2.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.9/43.9 kB 3.7 MB/s eta 0:00:00
Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Installing collected packages: setuptools-scm, mypy-extensions, interface-meta, pyhdfe, formulaic, linearmodels
Successfully installed formulaic-1.1.1 interface-meta-1.3.0 linearmodels-6.1 mypy-extensions-1.0.0 pyhdfe-0.2.0 setuptools-scm-8.2.0

In [16]:
# Importing for TWFE
from matplotlib import style
from matplotlib import pyplot as plt
import statsmodels.formula.api as smf
import graphviz as gr
from linearmodels.panel import PanelOLS

In [23]:
# Running linear regression on the covariates and the dummies
twfe = PanelOLS.from_formula("Fertility_Rate ~ GDP_Per_Capita+Homicide_Rate+Avg_Yrs_Education+Infant_Mortality+Life_Expectancy+EntityEffects+TimeEffects", data=interp.set_index(["Country", "Year"]))

result = twfe.fit(cov_type = 'clustered', cluster_entity = True, cluster_time = True)
result.summary.tables[1]

/usr/local/lib/python3.11/dist-packages/linearmodels/panel/model.py:1260: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [25]:
# Getting coefficients and making model (mod)
mod = smf.ols(formula='Fertility_Rate ~ GDP_Per_Capita+Homicide_Rate+Avg_Yrs_Education+Infant_Mortality+Life_Expectancy', data=interp).fit()
mod.summary().tables[1]

average years education of women decreased the fertility rates by 23%

p val low means very low chance it does not affect dependent, so low means relevant, high means irrelevantc --> homicide and infant mortality are less relevant

# STEP 2

In [ ]:
dum_yr = pd.get_dummies(interp['Year'])
dummy_it = 11.7745 + 1.966e-05*t + 0.0075*t + -0.2365*t + 0.0248*t + -0.1022*t

In [ ]:
twfe_toy = df_encoded.assign(y_hat = twfe.fittedvalues)

plt.scatter(df_encoded.Year)

Try second

X in the email is the regression variables matrix

B is beta which is the coefficients matrix

In [80]:
unit_col_name = 'Country'
time_period_col_name = 'Year'

df_panel = interp.copy()
df_panel["Country"] = df_panel["Country"].str.replace(" ", "_")

# Create dummy vars, one per country
df_dummies = pd.get_dummies(df_panel[unit_col_name], dtype=int)

# Create dummy vars, one per year
time_period_dummies = pd.get_dummies(df_panel[time_period_col_name], dtype=int, prefix=time_period_col_name)

df_panel_w_dummies = df_panel.join([df_dummies, time_period_dummies])
df_panel_w_dummies.head()

,Country,Year,Fertility_Rate,GDP_Per_Capita,Homicide_Rate,Avg_Yrs_Education,Infant_Mortality,Life_Expectancy,Bangladesh,Chile,...,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020,Year_2021,Year_2022,Year_2023
0,Bangladesh,1980,6.326,206.075714,1.672038,1.310,13.789642,52.2778,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Bangladesh,1981,6.237,224.241392,1.829637,1.436,13.472392,52.6383,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Bangladesh,1982,6.118,199.595945,1.987816,1.562,13.139923,53.0119,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Bangladesh,1983,5.906,184.706773,2.170414,1.688,12.788301,53.4409,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Bangladesh,1984,5.732,193.435021,2.442022,1.814,12.423361,53.8259,1,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
y_var_name = 'Fertility_Rate'
x_var_names = ['GDP_Per_Capita', 'Homicide_Rate', 'Avg_Yrs_Education', 'Infant_Mortality', 'Life_Expectancy']

In [66]:
# # work on least squares dummy var
# lsdv_expr = y_var_name + ' ~ '
# i = 0
# for X_var_name in x_var_names:
#     if i > 0:
#         lsdv_expr = lsdv_expr + ' + ' + X_var_name
#     else:
#         lsdv_expr = lsdv_expr + X_var_name
#     i = i + 1
# for dummy_name in unit_names[:-1]:
#     lsdv_expr = lsdv_expr + ' + ' + dummy_name
# for time_period in time_periods[:-1]:
#     lsdv_expr = lsdv_expr + ' + ' + time_period


# print('Regression expression for OLS with dummies=' + lsdv_expr)

Regression expression for OLS with dummies=Fertility_Rate ~ GDP_Per_Capita + Homicide_Rate + Avg_Yrs_Education + Infant_Mortality + Life_Expectancy + Bangladesh + Chile + Ethiopia + Iran + Latvia + Namibia + Nauru + New_Zealand + Nicaragua + Niger + Norway + Panama + South_Korea + United_States + Venezuela + 1980 + 1981 + 1982 + 1983 + 1984 + 1985 + 1986 + 1987 + 1988 + 1989 + 1990 + 1991 + 1992 + 1993 + 1994 + 1995 + 1996 + 1997 + 1998 + 1999 + 2000 + 2001 + 2002 + 2003 + 2004 + 2005 + 2006 + 2007 + 2008 + 2009 + 2010 + 2011 + 2012 + 2013 + 2014 + 2015 + 2016 + 2017 + 2018 + 2019 + 2020 + 2021 + 2022

In [ ]:
# # build and train LSDV on panel w dummies
# lsdv_model = smf.ols(formula=lsdv_expr, data=df_panel_w_dummies)
# lsdv_model_results = lsdv_model.fit()
# print(lsdv_model_results.summary())

In [82]:
import pandas as pd
import statsmodels.formula.api as smf

# Construct the formula with the correct dummy variable names
lsdv_expr = y_var_name + ' ~ '
i = 0
for X_var_name in x_var_names:
    if i > 0:
        lsdv_expr = lsdv_expr + ' + ' + X_var_name
    else:
        lsdv_expr = lsdv_expr + X_var_name
    i = i + 1

# Include country dummies (excluding the last one for reference)
for dummy_name in df_dummies.columns[:-1]:
    lsdv_expr = lsdv_expr + ' + ' + dummy_name

# Include year dummies (excluding the last one for reference)
for dummy_name in time_period_dummies.columns[:-1]:
    lsdv_expr = lsdv_expr + ' + ' + dummy_name  # No need for C() anymore

print('Regression expression for OLS with dummies=' + lsdv_expr)

# build and train LSDV on panel w dummies
lsdv_model = smf.ols(formula=lsdv_expr, data=df_panel_w_dummies)
lsdv_model_results = lsdv_model.fit()
print(lsdv_model_results.summary())

Regression expression for OLS with dummies=Fertility_Rate ~ GDP_Per_Capita + Homicide_Rate + Avg_Yrs_Education + Infant_Mortality + Life_Expectancy + Bangladesh + Chile + Ethiopia + Iran + Latvia + Namibia + Nauru + New_Zealand + Nicaragua + Niger + Norway + Panama + South_Korea + United_States + Venezuela + Year_1980 + Year_1981 + Year_1982 + Year_1983 + Year_1984 + Year_1985 + Year_1986 + Year_1987 + Year_1988 + Year_1989 + Year_1990 + Year_1991 + Year_1992 + Year_1993 + Year_1994 + Year_1995 + Year_1996 + Year_1997 + Year_1998 + Year_1999 + Year_2000 + Year_2001 + Year_2002 + Year_2003 + Year_2004 + Year_2005 + Year_2006 + Year_2007 + Year_2008 + Year_2009 + Year_2010 + Year_2011 + Year_2012 + Year_2013 + Year_2014 + Year_2015 + Year_2016 + Year_2017 + Year_2018 + Year_2019 + Year_2020 + Year_2021 + Year_2022
                            OLS Regression Results
==============================================================================
Dep. Variable:         Fertility_Rate   R-squared:                       0.962
Model:                            OLS   Adj. R-squared:                  0.957
Method:                 Least Squares   F-statistic:                     179.1
Date:                Sun, 23 Mar 2025   Prob (F-statistic):          2.35e-256
Time:                        20:36:11   Log-Likelihood:                -176.03
No. Observations:                 469   AIC:                             470.1
Df Residuals:                     410   BIC:                             714.9
Df Model:                          58
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.0166      1.115      2.705      0.007       0.825       5.209
GDP_Per_Capita     1.011e-05   2.68e-06      3.767      0.000    4.83e-06    1.54e-05
Homicide_Rate         0.0122      0.005      2.475      0.014       0.003       0.022
Avg_Yrs_Education    -0.4771      0.029    -16.426      0.000      -0.534      -0.420
Infant_Mortality      0.1840      0.029      6.343      0.000       0.127       0.241
Life_Expectancy       0.0411      0.017      2.437      0.015       0.008       0.074
Bangladesh           -1.2907      0.150     -8.590      0.000      -1.586      -0.995
Chile                -0.0306      0.162     -0.189      0.850      -0.348       0.287
Ethiopia           2.408e-13   1.19e-12      0.202      0.840    -2.1e-12    2.58e-12
Iran                 -0.1609      0.105     -1.530      0.127      -0.368       0.046
Latvia                0.8913      0.159      5.613      0.000       0.579       1.204
Namibia               0.4203      0.185      2.277      0.023       0.058       0.783
Nauru              6.888e-14   1.28e-12      0.054      0.957   -2.44e-12    2.58e-12
New_Zealand           0.8358      0.204      4.093      0.000       0.434       1.237
Nicaragua            -0.3638      0.109     -3.349      0.001      -0.577      -0.150
Niger                 1.0855      0.239      4.538      0.000       0.615       1.556
Norway                0.2156      0.255      0.846      0.398      -0.286       0.717
Panama                0.4639      0.156      2.968      0.003       0.157       0.771
South_Korea           0.2013      0.166      1.214      0.225      -0.125       0.527
United_States         1.2370      0.235      5.269      0.000       0.775       1.698
Venezuela            -0.4883      0.205     -2.376      0.018      -0.892      -0.084
Year_1980             0.1664      0.144      1.153      0.250      -0.117       0.450
Year_1981             0.1847      0.142      1.305      0.193      -0.093       0.463
Year_1982             0.1877      0.139      1.347      0.179      -0.086       0.462
Year_1983             0.1705      0.138      1.236      0.217      -0.101       0.442
Year_1984             0.1521      0.135      1.123      0.262      -0.114       0.418
Year_1985             0.1438      0.134      1.076      0.283      -0.119       0.407
Year_1986             0.1159      0.130      0.888      0.375      -0.141       0.372
Year_1987             0.1044      0.128      0.813      0.417      -0.148       0.357
Year_1988             0.0937      0.125      0.748      0.455      -0.153       0.340
Year_1989             0.0920      0.123      0.748      0.455      -0.150       0.334
Year_1990             0.0992      0.121      0.820      0.413      -0.139       0.337
Year_1991             0.0782      0.119      0.655      0.513      -0.156       0.313
Year_1992             0.0317      0.118      0.269      0.788      -0.199       0.263
Year_1993             0.0014      0.117      0.012      0.990      -0.228       0.230
Year_1994            -0.0221      0.115     -0.192      0.848      -0.249       0.204
Year_1995            -0.0440      0.114     -0.386      0.700      -0.268       0.180
Year_1996            -0.0454      0.113     -0.400      0.690      -0.268       0.178
Year_1997            -0.0306      0.113     -0.270      0.787      -0.253       0.192
Year_1998            -0.0087      0.113     -0.077      0.939      -0.232       0.214
Year_1999             0.0190      0.114      0.167      0.868      -0.204       0.242
Year_2000             0.0398      0.114      0.348      0.728      -0.185       0.265
Year_2001             0.0373      0.115      0.324      0.746      -0.189       0.264
Year_2002             0.0115      0.117      0.098      0.922      -0.219       0.242
Year_2003             0.0294      0.118      0.248      0.804      -0.203       0.262
Year_2004             0.0397      0.122      0.327      0.744      -0.199       0.279
Year_2005             0.0433      0.125      0.346      0.730      -0.203       0.289
Year_2006             0.0678      0.128      0.529      0.597      -0.184       0.320
Year_2007             0.0876      0.133      0.660      0.510      -0.173       0.349
Year_2008             0.0982      0.136      0.720      0.472      -0.170       0.366
Year_2009             0.1264      0.137      0.920      0.358      -0.144       0.397
Year_2010             0.1282      0.141      0.907      0.365      -0.150       0.406
Year_2011             0.1140      0.145      0.784      0.433      -0.172       0.400
Year_2012             0.1152      0.149      0.775      0.439      -0.177       0.407
Year_2013             0.1036      0.151      0.686      0.493      -0.193       0.400
Year_2014             0.1056      0.153      0.690      0.490      -0.195       0.406
Year_2015             0.1470      0.148      0.994      0.321      -0.144       0.438
Year_2016             0.1345      0.151      0.893      0.372      -0.162       0.431
Year_2017             0.0814      0.154      0.528      0.598      -0.222       0.385
Year_2018             0.0237      0.159      0.149      0.882      -0.289       0.336
Year_2019            -0.0013      0.160     -0.008      0.993      -0.316       0.313
Year_2020             0.0151      0.150      0.101      0.920      -0.280       0.310
Year_2021            -0.0215      0.150     -0.143      0.886      -0.317       0.274
Year_2022                  0          0        nan        nan           0           0
==============================================================================
Omnibus:                       38.788   Durbin-Watson:                   0.150
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              144.407
Skew:                           0.243   Prob(JB):                     4.39e-32
Kurtosis:                       5.675   Cond. No.                     1.30e+21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.64e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.